.button {
  height: 50px;
  width: 100%;
  text-decoration: none;
  color: $main-color;
  display: flex;

  @include on-tablet {
    height: 70px;
  }

  @include on-desktop {
    margin-left: 55px;
  }

  &__text {
    &-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: calc(100% - 50px);
      box-sizing: border-box;
      border: 1px solid $menu-bg-color;

      @include on-tablet {
        width: 200px;
        height: 70px;
      }
    }
  }

  &__arrow {
    background-color: $menu-bg-color;
    height: 50px;
    width: 50px;
    background-image: url(../images/header/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      width: 70px;
      height: 70px;
    }
  }
}
