.contacts {
  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.69px;
  }

  &__contact {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    color: $main-color;
    display: inline-block;

    @include hover (transform, scale(1.1))
  }
}
