.lecture {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;

    @include on-tablet {
      width: calc(100% - 68px);
      margin-inline: auto;
      height: 390px;
    }

    @include on-desktop {
      width: 100%;
      height: 550px;
    }
  }

  &__text {
    box-shadow: 0 2px 0 0 #1a5a4c40;
    height: 140px;
    width: 280px;
    transform: translateY(-57);
    background-color: $main-bg-color;

    @include on-tablet {
      height: 204px;
      width: 570px;
      transform: translateY(-84);
    }

    @include on-desktop {
      transform: translateY(-102px);
    }
  }

  &__date-and-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 21px;
    margin-block: 20px;

    @include on-tablet {
      margin-inline: 100px;
      margin-block: 45px 16px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
      line-height: 36px;
      margin-inline: 55px;
    }

    @include on-desktop {
      margin-inline: 100px;
    }
  }
}
