.nav {
  width: 100px;

  @include on-desktop {
    width: 168px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    list-style: none;
  }

  &__link {
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
  }
}
