.schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__workdays {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &__title {
    line-height: 19.69px;
  }

  &__span {
    font-weight: 400;
    padding: 0;
  }
}
